SRC_DIR=/glade/work/samrabin/ctsm_where_hui_branched_moss
CASE_DIR=/glade/u/home/samrabin/cases_hui_moss
COMPSET=I1PtClm60Fates
CASENAME=ALP2_ctsm5.4.028
STOP_N=20
RESUBMIT=4
LAT=60.8231
LON=7.27596
SITE=ALP2
CLM_USRDAT_DIR_PARENT=/glade/work/samrabin/CLM-FATES_nvp_workflow/inputdata
SURDAT_FILE=surfdata_ALP2_hist_2000_16pfts_c260427.nc
