SRC_DIR=/glade/work/samrabin/ctsm_hui_moss
CASE_DIR=/glade/work/afoster/ABoVE/calibration_update/cases
USER_MODS_DIR=/glade/work/samrabin/above_nwt/user_mods_huicase
COMPSET=I1PtClm60Fates
CASENAME=ZF14-207_allmoss_sp
CHARGENUM=P08010000
STOP_N=20
RESUBMIT=4
LAT=62.43462
LON=246.84602
SITE=ZF14-207
SURDAT_FILE=surfdata_ZF14-207_hist_2000_16pfts_c260129.nc
FATES_PARAMFILE=/glade/work/samrabin/above_nwt/parameter_files/fates_params_all_moss.json
